html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}


.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar #logo{
  margin:1em;
  color:white;
  background-color: red;
  font-family: cursive;
  padding:1em;
  border-radius: 10em;
}

.nav-bar ul{
  list-style: none;
  display: flex;
}

.nav-bar li{
  margin:1em 0 1em 0;
  padding:1em;
  
}
.nav-bar li a{
  color:#333333;
  text-decoration: none;
}

.nav-bar li:hover{
  background-color: #bce413;
  border-radius: 3em;
}

.nav-bar input{
  height: 2em;
  width: 100%;
}

.pins{
  display: flex;
  flex-wrap: wrap;
}


.pin{
  display: flex;
  flex-direction: column;
  max-width: 20em;
  padding:1em;
  border-radius: 0.5em;  
}

.pin:hover{
  background-color: #bce413;
}

.pin button{
  width: 3em;
  align-self: flex-end;
  margin:0.5em;
  padding:0.5em;
  border-radius: 100em;
  border:transparent;
  background-color: transparent;
}

.pin button:hover{
  background-color: green;
}

.pin img{
  border-radius: 0.5em;
}

