html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}



.my-text{
  background-color: green;
  height: 10em;
  width: 50%;
  /* margin: top right bottom left */
  /* margin:0em 0em 5em 0em; */
  padding:2em; 
}
.pink-background{
  background-color: pink; 
}

#container {
  height: 400px;
  width: 400px;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}